<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
                classpath:application.spring
        </param-value>
  </context-param>
  <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <!-- Servlets -->
  <servlet>
    <servlet-name>boboServlet</servlet-name>
    <servlet-class>com.browseengine.bobo.demo.servlet.BoboDemoServlet</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
    <servlet-name>boboServlet</servlet-name>
    <url-pattern>/bobodemo/bobo-search</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>BoboDemo.html</welcome-file>
  </welcome-file-list>

</web-app>
