<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app 
  PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" 
  "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<display-name>Bobo Browse - App</display-name>
	<description></description>
    
    <context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:application.spring
		</param-value>
	</context-param>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<servlet>
        <servlet-name>BoboAppServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <!-- 
	<servlet>
		<servlet-name>BrowseServlet</servlet-name>
		<servlet-class>com.browseengine.bobo.servlet.BrowseServlet</servlet-class>		
	</servlet>
	 -->
	<servlet>
  		<servlet-name>dwr-invoker</servlet-name>
  		<display-name>DWR Servlet</display-name>
  		<servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
  		<init-param>
     		<param-name>debug</param-name>
     		<param-value>true</param-value>
  		</init-param>
	</servlet>	
	<servlet-mapping>
        <servlet-name>BoboAppServlet</servlet-name>
        <url-pattern>/bobo/*</url-pattern>
    </servlet-mapping>
    <!-- 
	<servlet-mapping>
		<servlet-name>BrowseServlet</servlet-name>
		<url-pattern>/bobo/*</url-pattern>
	</servlet-mapping>
	 -->
	<servlet-mapping>
  		<servlet-name>dwr-invoker</servlet-name>
  		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>
</web-app>
